@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@{ 
    ViewBag.Title = "Welcome View!";

    <h2>Such Welcome. Very View.</h2>

    <ul>
        @for (int i = 0; i < ViewBag.NumTimes; i++)
        {
            <li>@ViewBag.Message</li>
        }
    </ul>


}
